div#protect-children-div {
    padding: 10px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

#protect-children-div:before {
    content: "\f223";
    color: #82878c;
    font: 400 20px/1 dashicons;
    speak: none;
    display: inline-block;
    margin-left: -1px;
    padding-right: 3px;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.password-protect-admin-notice{
    font-size:12px;
    padding-left:20px;
}

.password-protect-admin-notice:before{
    font: 400 14px/1 dashicons;
    padding-right:5px;
}

.password-protect-admin-notice:before{
    content: "\f348";
}

#post-visibility-select #protect-children-div {
    border-top: none;
    border-bottom: none;
}